*
{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}

html
{
    height: 100%;
}

body
{
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(to bottom, white, rgba(0, 30, 0, 0.8));
}

a.button1{
    font-family: "Roboto", sans-serif;
    display: block;
    padding:0.35em 1.2em;
    border:0.1em solid #7C7B83;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
}
a.button1:hover{
    color: #ffffff;
    background-color:#7C7B83;
}
@media all and (max-width:30em){
 a.button1{
display:block;
margin:0.4em auto;}
}
.form-group input[type="checkbox"] {
display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
display: none;
}

.glowing-border
{
outline: none;
border-color: #9ecaed;
box-shadow: 0 0 25px #9ecaed;
}

nav
{
margin: 10px 0 0 0;
}

.dim
{
height: 150px;
width: 250px;
margin: auto;
}

div
{
    padding: 10px;
}

.row
{
    clear: both;
    max-height: 300px;
    
}

.centred-row
{
    width: 100vw;
    text-align: center;
    clear: both;
    max-height: 300px;
    
}

input[type="submit"]
{
    margin-left: 26vw;
    cursor: pointer;
    border: none;
    padding: 5px 15px;
    border-style: ridge;
    border-color: rgba(50,110,100, 0.5);
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.4s ease-out;
}

input[type="submit"]:hover
{
    transform: scale(1.03) rotate(15deg);
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

textarea
{
    width: 40vw;
    height: 15vw;
    border: none;
    background: rgba(255, 255, 255, 0.5);
}

textarea:focus
{
    background: rgba(255, 255, 255, 0.8);
}

/*hover grow*/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1vw;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0.7;
    transition: all 0.4s ease-out;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
    opacity: 1;
}

/*checkbox*/
input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: lightgray;
    height: 20px;
    width: 20px;
    border: 1px solid white;
}

input[type="checkbox"]:checked {
    background:  #82c9bb;
}

input[type="checkbox"]:hover {
    filter: brightness(90%);
}

input[type="checkbox"]:disabled {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

input[type="checkbox"]:after {
    content: '';
    position: relative;
    left: 35%;
    top: 10%;
    width: 20%;
    height: 50%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

input[type="checkbox"]:checked:after {
    display: block;
}

input[type="checkbox"]:disabled:after {
    border-color: #7b7b7b;
}

/*small menu*/
.lnk > a
{
    display: inline;
    text-decoration: blink;
    font-size: 20px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.7);
    transition:background 0.5s, box-shadow 0.5s, color 0.5s ease-out;
    background: white;
    box-shadow: 0 0;
    background-color: rgba(0, 0, 0, 0);
}

.lnk > a:visited
{
    color: rgba(0, 0, 0, 0.7);
}

.lnk > a:hover
{
    background: rgba(0, 20, 0, 0.5);
    box-shadow: 0 0 5px black;
    color: white;
}

.current-lnk > a
{
    background-color: rgba(0, 0, 0, 0);
    display: inline;
    text-decoration: blink;
    font-size: 20px;
    padding: 5px;
    color: white;
    box-shadow: 0 0 5px black;
    background: rgba(0, 0, 0, 0.8);
}